@charset "utf-8";
.logo {
	width: 1100px;
	height: 200px;
	margin: 0 auto;
}
.logo .search {
	position: relative;
	margin-top: 90px;
}
.logo .search input {
	width: 200px;
	border-style: none;
	outline: none;
	border-bottom: 1px solid #69B0AC;
	color: #69B0AC;
}
.logo .search img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: bottom;
}
.logo .search .number {
	position: absolute;
	display: block;
	top: -13px;
	right: -3px;
	width: 18px;
	height: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #d4282d;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 15px;
}
.nav {
	position: relative;
	width: 100%;
	height: 50px;
}
.nav .wrap {
	width: 1100px;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
	text-align: center;
}
.nav .item {
	float: left;
	width: 80px;
	font-weight: bold;
}
.nav .item .dt a {
	color: #000;
	padding-bottom: 4px;
	border-bottom: 4px solid #fff;
}
.nav .item:hover .dt a{
	color: #69B0AC;
	padding-bottom: 4px;
	border-bottom-color: #69B0AC;
}
.nav .symbol {
	float: left;
	margin-top:10px; 
	width: 1px;
	height: 20px;
	border-right: 1px solid #69B0AC;
}
.nav .dd {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #69B0AC;
	z-index: 1000;
}
.nav .dd ul {
	margin: 0 auto;
}
.nav .dd a {
	color: #555;
}
.nav .dd a:hover {
	color: #69B0AC;
}
.nav .dd_item {
	display: inline-block;
	width: 100px;
}


.banner {
	position: relative;
	width: 100%;
	height: 420px;
}
.banner .banner_box .item{
	position: absolute;
	float: left;
	width: 100%;
	height: 420px;
	overflow: hidden;
}
.banner .banner_box .item img{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.banner .btn {
	display: none;
	position: absolute;
	top: 200px;
	width: 35px;
	height: 60px;
	background-color: #69B0AC;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 25px;
	font-family: SimSun;
	cursor: pointer;
	opacity: 0.5;
}
.banner .pre {
	left: 50px;
}
.banner .next {
	right: 50px;
}
.banner .dots ul {
	position: absolute;
	top: 350px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	height: 30px;
}
.banner .dots .dots_item {
	float: left;
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background-color: #69B0AC;
	border: 4px solid #fff;
	cursor: pointer;
}
.merchandises {
	width: 1090px;
	height: 380px;
	margin: 0 auto;
	margin-top: 20px;
}
.merchandises .title {
	height: 40px;
	line-height: 40px;
	vertical-align: bottom;
}
.merchandises .left h3 {
	display: inline-block;
	font-size: 30px;
	padding-right: 10px;
}
.merchandises .right a {
	color: #333;
} 
.merchandises .right:hover a {
	color: #69B0AC;
} 
.merchandises .right i {
	display: inline-block;
	padding-left: 5px;
	font-family: Simsun;
}
.merchandises .content {
	margin-top: 20px;
}
.merchandises .content .merchandise_item {
	position: relative;
	float: left;
	width: 357px;
	height: 320px;
	overflow: hidden;
}
.merchandises .content .line {
	float: left;
	width: 9px;
	height: 320px;
}
.first-secbox {
	width: 100%;
	height: 450px;
	padding-top: 20px;
	/*background-color: #ece4d3;*/
}
.first-merchandise .content .merchandise_item img {
	transition: all 2s;
	-ms-transition: all 2s;
	-moz-transition: all 2s;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
}
.first-merchandise .content .merchandise_item:hover img {
	transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
}
.sec-merchandise {
	background-color: #fff;
}
.sec-merchandise .content .merchandise_item {
	position: relative;
	width: 265px;
	height: 320px;
	overflow: visible;
}
.sec-merchandise .content .item_top span {
	position: absolute;
	top: 30px;
	left: 15px;
	padding: 5px;
	background-color: #69B0AC;
	font-size: 12px;
	color: #fff;
	border-radius: 3px;
}
.sec-merchandise .content .item_bottom {
	position: absolute;
	top: 265px;
	left: 50%;
	text-align: center;
	z-index: 1;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.sec-merchandise .content .merchandise_item .shade {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 265px;
	height: 318px;
	box-shadow: 1px 1px 1px 1px #bbb;
	border-radius: 5px;
}
.sec-merchandise .content .merchandise_item:hover .shade {
	display: block;
}
.sec-merchandise .content .item_bottom h4:hover{
	color: #69B0AC;
	cursor: pointer;
}
.third-secbox {
	width: 100%;
	height: 500px;
	padding-top: 20px;
	margin-bottom: 40px;
	/*background-color: #d6eceb;*/
}
.third-merchandise {
	width: 1100px;
	background-color: transparent;
}
.third-merchandise .content .merchandise_item {
	height: 400px;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #fff;
}
.third-merchandise .content .merchandise_item .pic{
	position: absolute;
}
.third-merchandise .content .merchandise_item .pic img{
	width: 357px;
	transition: all 1s;
}
.third-merchandise .content .merchandise_item .txt {
	position: absolute;
	top: 300px;
	left: 50%;
	width: 300px;
	height: 40px;
	padding: 20px;
	background-color: #fff;
	transform: translate(-50%,20px);
	-ms-transform: translate(-50%,20px);
	-moz-transform: translate(-50%,20px);
	-webkit-transform: translate(-50%,20px);
	-o-transform: translate(-50%,20px);
	transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.third-merchandise .content .merchandise_item .txt:hover {
	transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
}
.third-merchandise .content .merchandise_item .pic:hover img{
	transform: scale(1.05,1.05);
	-ms-transform: scale(1.05,1.05);
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
}
.footer {
	width: 100%;
	height: 240px;
	padding-top: 20px;
	background-color: #333;
}
.footerbox {
	width: 1100px;
	margin: 0 auto;
}
.footerbox .top {
	height: 160px;
	border-bottom: 1px solid #eee;
}
.footerbox .top .item {
	height: 30px;
	line-height: 25px;
}
.footerbox .top div {
	width: 50%;
	text-align: center;
}
.footerbox ul {
	color: #fff;
}
.footerbox .bottom {
	margin-top: 20px;
	text-align: center;
} 
.footerbox .bottom .item {
	display: inline-block;
	width: 80px;
}
.footerbox .bottom .line {
	display: inline-block;
	width: 1px;
	height: 14px;
	background-color: #fff;
}